<% if !cookies[:acepted_cookies] or force_show %>
  <div id="cookies-warning">
    <div id="policy">
      <p>
        <% policy_link = link_to(t("cookies-policy-link"), cookies_policy_path) rescue t("cookies-policy-link") %>
        <%= raw(t("cookies-warning", policy_link: policy_link)) %>
      </p>
    </div>
    <div id="dismiss">
      <%= link_to('X', 'javascript:void(0);', onclick: "$('#cookies-warning').remove()") %>
    </div>
  </div>
<% end %>